
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
body *{
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background:#434989 ;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.left{
    width: 50vw;
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left h1{
    font: 3vw;
    color: #C9ADFF;
}
.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 60%;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#2a1659;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(151, 115, 180, 0.456);
}
.card h1{
    color:#ccb1ff;
    font-weight: 800;
    margin: 0;
}
.text{
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.text input{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background: #ffffff2e;
    font-size: 12px;
    box-shadow: 0px 10px 40px #892eff37;
    outline: none;
    box-sizing: border-box;
}
.text label{
    margin-bottom: 15px;
    color:#b57ad9dd ;
}
.text input::placeholder{
    color: #ffffffaa;
}
.btn{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    background: #b57ad9;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #b57ad9;
}
.img{
    width: 35vw
}
@media only screen and (max-width: 950px) {
    .card{
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .main{
        flex-direction: column;
    }
    .left h1{
        display: none;
    }
    .left{
        width: 100%;
        height: auto;
    }
    .right{
        width: 100%;
        height: auto;
    }
    .img{
        top: auto;
        width: 90vw;
    }
    .card{
        width: 90%;
        
    }
}